 body{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

::selection{
    background-color: blueviolet;
}

nav {
    padding: 20px;
    height: 100dvh;
    background-image:url(bg1.jpg) ;
    background-position:center right;
    background-size: cover;
    background-attachment: fixed;
}


.logo{
    width: 50%;
    
}

.navbar{
    display: flex;
    position: fixed;
}



.nav-list {
    justify-content: space-between;
    list-style-type: none;
    display: flex;
    gap: 20px;
    flex-direction: right;
    font-size: 15px;
    font-weight: 600;
    margin-left: 45rem;
}

.nav-list li  a:focus{
    display: block;
background-color: black;
width: 100%;
height: 100%;
transition: a11 1s ease-out;
animation-name:slide ;
z-index: -1;
}


@keyframes slide {
    from{
       
        transform:translateX(-10px)
    }
    to{
        transform: translateX(150px)
        
    }
}



.nav-list a{
    text-decoration: none;
    color: rgba(211, 211, 211, 0.945);
}

.nav-list li a:active{
    background-color: white;
}
.nav-list a:hover{
    color: white;
}

.header{
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin:50px auto;
    
}

.header h1{
    font-family: sans-serif;
    padding: 30px 0;
    color: white;
    font-size: 8rem;
    font-weight: 900;
}

.header p{
    margin-top: -150px;
    font-size: 30px;
    font-weight: 700;
    color: aqua;
}




.home2{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 80vh;
    background-color: black;
    color: white;
}

.hm-flex{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    padding: 30px;
}

.hm-left-clo{
    width:  80%;
    margin: 20px;
    font-size: 28px;
    font-weight: 800;
}

.hm-right-clo{
    width: 80%;
    margin: 25px;
    font-size: 21px; 
}

.hm-right-bnt button{
    margin-top: 35px;
    padding: 10px;
    border: none;
    background-color: black;
    color: rgb(236, 74, 236);
    font-weight: 800;
    cursor: pointer;
    position: relative;
}


.hm-right-bnt button::before {
    content: '';
    position: absolute;
   
    border-bottom: 2px solid #db34bf;
    transition: transform 0.5s ease-out;
    z-index: -1;
  }



.hm-right-bnt button:hover::before{
    transform: scaleX(1);
    /* position: relative;
    
    border-bottom: 2px solid rgb(236, 74, 236);
    animation-name:bnt ;
    transition: linear;
    transition: all 2s;
    animation-duration: 2s; */
}

@keyframes bnt {
    from{
        transform: translateX(0px);
    }
    to {
        transform: translateX(10px);
    }
}


.hm-service{
    height: 70dvh;
}

.srv-cont{
    display: flex;
    margin: 60px;
    
}

.srv-box{
    margin-top: 80px;
    padding: 10px;
    text-align: center;
    color: purple;
    gap: 30px;
}

.srv-box span{
    font-size: 50px;
}

.srv-box h3{
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.srv-box p{
    
    font-size: 20px;
    color: grey;
}

.hm-pro{
    background-color: black;
    color: white;
    height: 90dvh;
}

.hm-pro-box{
    display: flex;
    margin: 30px;
    
}

.hm-pro-left{
    background-color: black;
    color: white;
    display: flex;
    flex-flow: row  wrap;
    gap: 40px;
    margin: 70px;
    height: 100%;
    
}

.pro-box{
    width: 130px;
    text-align: left;
    font-size: 20px;
}

.hm-pro-right{
    background-color: white;
}

.hm-pro-right img{
    
    width:600px ;
    height: 90dvh;
   
}

.hm-pro2{
    background-color: black;
}

.hm-pro2-box{
    display: flex;
}

.hm-pro1-left img{
    width: 720px;
    height: 100%;
}

.hm-pro2-right{
    background-color: black;
    color: white;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 20px;

   
}

.hm-pro2-right h1{
    font-size: 2.8rem;
}

.hm-pro2-right p{
    font-size: 20px;
}


.don-mov{
    cursor: pointer;
    margin-top:10px ;
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
    background-color:violet;
    color: rgb(233, 228, 228);
    border: none;
}

.don-mov:hover{
    background-color: white;
    color: black;
}

.hm-sit{
    height: 90dvh;
    margin-top: 120px;
    position: sticky;
    z-index: -3;
    
}

.hm-sit-box{
    display: flex;
    flex-wrap: wrap;
    margin-left:10rem ;
}

.hm-sit-det{
    margin: 75px;
    width: 350px;
}

.hm-sit-det h1{
    font-size: 25px;
    font-weight:900;
}

.hm-sit-det span{
    font-size: 12px;
}

.hm-sit-det p{
    font-size: 16px;
    color: gray;
}

.hm-dig{
    background-color: rgb(98, 212, 247);
    height: 90vh;
    z-index: -2;
    position: relative;
}

.hm-digi-box{
    text-align: center;
    padding-top: 200px;
}

.hm-digi-box h1 {
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    font-size: 3.5rem;
    font-weight: 300;
}

.hm-digi-box p{
    font-size: 15px;
    font-weight: 700;
}

footer{
    background-color: black;
    color: white;
    height: 80dvh;
    
    z-index: 0;
    position: sticky;
}

.footer-box{
    display: flex;
    flex-wrap: wrap;
    padding: 90px;
    justify-content:space-evenly;
}


.foo-con{
    line-height: 2.5rem;
    text-align: left;
}



.foo-con ul{
    margin: 0;
    
    
}

.foot-li li{
    list-style-type: none;
    color: gray;
    margin: 0;
    cursor: pointer;
}

.foot-li a{
    text-decoration: none;
    color: grey;
    cursor: pointer;
}










