@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');



body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

::selection{
    background-color: blueviolet;
}

nav {
    top: 0;
    margin: 0;
    height: 100dvh;
    border: none;
    background:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0.9)), url(bg1.jpg) ;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
   
   
}


.logo{
    width: 50%;
    padding: 8px;
    display: flex;
    flex-direction: left;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
}



.nav-list {
    list-style-type: none;
    display: flex;
    padding: 8px;
    gap: 20px;
    font-size: 13px;
    padding-right: 30px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}




.bgcolor{
    background-color: black;
}

.nav-list a{
    text-decoration: none;
    color: rgba(211, 211, 211, 0.945);
}

.nav-list li a:active{
    background-color: white;
}
.nav-list a:hover{
    color: white;
}

.header{
    width: 60%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
   
}

.header h1{
    padding: 80px 0;
    color: white;
    font-size: 7rem;
    font-weight: 900;
}

.header p{
    margin-top: -150px;
    font-size: 28px;
    font-family: sans-serif;
    color: aqua;
}




.home2{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 60vh;
    background-color: black;
    color: white;
}

.hm-flex{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    padding: 30px;
}

.hm-left-clo{
    width: 200%;
    margin: 20px;
    font-size: 28px;
    font-weight: 800;
}



.hm-right-clo{
    
    margin: 25px;
    font-size: 21px; 
    color: rgb(192, 191, 191);
}

.hm-right-bnt {
    margin-top: 35px;
    padding: 10px;
    border: none;
    background-color: black;
    color: rgb(236, 74, 236);
    font-weight: 800;
    cursor: pointer;
    position: relative;
}


.hm-right-bnt::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--border-size);
    border-bottom: 2px solid;
    background-color: var(--accent-color);
    transition: transform  .5s ease-in-out , opacity .2s linear ;
    transform: scaleX(0);
    transform-origin: left;
}

.hm-right-bnt:hover::before,
.hm-right-bnt:focus::before {
    transform: scaleX(1);
}




.hm-service{
    height: 50dvh;
}

.srv-cont{
    display: flex;
    margin: 60px;
    
}

.srv-box{
    margin-top: 80px;
    padding: 10px;
    text-align: center;
    color: purple;
    gap: 30px;
}

.srv-box span{
    font-size: 50px;
}

.srv-box h3{
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.srv-box p{
    
    font-size: 20px;
    color: grey;
}

.hm-pro{
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 60vh;
}


.hm-pro-left{
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding:40px;
    gap: 4rem;
    width: 44.5%;
}

.pro-box{
    text-align: left;
    font-size: 15px;
    width:20%;
    
}

.pro-box p{
    font-family: 'Open Sans';
}

.hm-pro-right{
    border: 1px solid none;
    padding-right: 0;
    margin-right: 0;
    object-fit: fill;
    max-width: 680px;
    
}

.hm-pro-right img{
 max-width: 650px;
 height: 90vh;
}

.hm-pro2{
    background-color: black;
}

.hm-pro2-box{
    display: flex;
}

.hm-pro1-left img{
    width: 720px;
    height: 100%;
}

.hm-pro2-right{
    background-color: black;
    color: white;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 20px;

   
}

.hm-pro2-right h1{
    font-size: 2.8rem;
}

.hm-pro2-right p{
    font-size: 20px;
}


.don-mov{
    cursor: pointer;
    margin-top:10px ;
    padding: 15px;
    font-size: 15px;
    font-weight: 700;
    background-color:rgb(255, 0, 255);
    color: rgb(233, 228, 228);
    border: none;
    transition: all .5s;
}

.don-mov:hover{
    background-color: white;
    color: black;
}

.hm-sit{
    height: 60dvh;
    margin-top: 120px;
 
    
}

.hm-sit-box{
    display: flex;
    flex-wrap: wrap;
    margin-left:10rem ;
}

.hm-sit-det{
    margin: 75px;
    width: 350px;
}

.hm-sit-det h1{
    font-size: 25px;
    font-weight:900;
}

.hm-sit-det span{
    font-size: 12px;
}

.hm-sit-det p{
    font-size: 16px;
    color: gray;
}

.hm-dig{
    background-color: rgb(49, 200, 247);
    height: 60vh;
}

.hm-digi-box{
    text-align: center;
    padding-top: 150px;
}

.hm-digi-box h1 {
    margin-left: 80px;
    margin-right: 80px;
    color: white;
    font-size: 3.5rem;
    font-weight: 300;
}

.hm-digi-box p{
    font-size: 15px;
    font-weight: 700;
}

footer{
    background-color: black;
    color: white;
    height: 50dvh;
    z-index: 0;
    position: relative;
    bottom: 0;
}

.footer-box{
    display: flex;
    flex-wrap: wrap;
    padding: 90px;
    justify-content:space-evenly;
}


.foo-con{
    line-height: 2.5rem;
    text-align: left;
}



.foo-con ul{
    margin: 0;
    
    
}

.foot-li li{
    list-style-type: none;
    color: gray;
    margin: 0;
    cursor: pointer;
}

.foot-li a{
    text-decoration: none;
    color: grey;
    cursor: pointer;
}

.fot-bd{
    justify-content: center;
    align-items: center;
}

.fot-bd hr{
    max-width: 90%;
}


@media all and (max-width:1024px) {
   
    body{
        margin: 0;
        padding: 0;
    }

    nav{
        height: 100dvh;
        padding: 0;
    }

    .home2{
        height: 100vh;
    }

    .hm-service{
        height: 100vh;
    }



    .hm-pro{
        height: 98vh;
    }
    
    .hm-pro-left{
        width: 100%;
    }
.hm-pro-right img{
        width: 100% !important;
        height: 100%;
    }

    .hm-pro2{
       height: 90vh;
    }

    .hm-pro2-box{
        height: 90vh;
    }

    .hm-pro1-left{
        width: 100%;
        
    }

    .hm-pro1-left img{
        width: 100%;
        height: 100%;
    }

    .hm-pro2-right{
        width: 120%;
    }

    .hm-sit{
        height: 100%;

    }

    .hm-sit-box{
        flex-wrap: wrap;
        margin-left: 5rem;
    }
    
    .hm-sit-det{
        margin: 50px;
    }

    .hm-dig{
        height: 100dvh;
    }
    .hm-digi-box h1 {
        font-size: 3rem;
    }

    footer{
        height: 90dvh;
    }
} 

@media all  and (max-width:425px) {

    nav{
        height: 80vh;
        padding: 0;
        margin: 0;
    }

    .logo{
        width: 35%;
    }
    .nav-list{
        display: none;
        padding: 0;
        margin: 0;
    }

    .bgcolor{
       display: none;
       width: 50%;
    }

    .navbar{
        width: 0%;
    }

.header{
    padding-top: 50%;
    padding: auto;
}

    .header h1{
        font-size: 50px;
    }

    .header p{
        padding-top: 60px;
        font-size: 12px;
    }
 
    .home2{
        height: 150vh;
    }
    .hm-flex{
        gap: 20px;
        flex-direction: column;
    }

    .hm-left-clo{
        margin: 0 auto;
        width: 100%;
        font-size:25px ;
    }

    .hm-right-clo{
      width: 100%;
      margin: 0 auto;
      font-size: 15px;
      
    }

 

    .hm-service{
        height: 100%;
        margin-bottom: 90px;
    }

    .srv-cont{
        flex-wrap: wrap;
    }
    .srv-box p{
      font-size: 15px;
    }

 
    .hm-pro{
        height: 100vh;
    }



.hm-pro-left {
    height: 100vh;
    position: static;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: visible;
    padding-bottom: 100px;
}

.pro-box{
    font-size:15px ;
    width: 100%;
}

.hm-pro-right img{
    display: none;
}


 .hm-pro2-box{
    flex-direction: column;
 }


 .hm-pro2-right{
    position: static;
    width: 50%;
    padding: 0;
    padding-bottom: 0px;
    height: 80vh;
 }

  .hm-pro2-right h1{
    font-size: 29px;
    width: 60%;
  }

 .hm-pro2-right p{
    width: 60%;
    font-size: 15px;
 }

.hm-sit{
height: 100dvh;
margin-top: 45%;
margin-bottom: 10%;

}
 .hm-sit-box {
 
    flex-wrap: wrap;
    margin-left: 2rem;
    gap: 30px;
 }

 .hm-sit-det{
   
    width: 30%;
}

 .hm-dig{
    height: 80dvh;
 }



.hm-digi-box{
    padding-top: 10%;
   
}
 .hm-digi-box h1{
    font-size: 40px;
 }



 .footer-box{
    padding: 0;
    column-gap:80px ;
    flex-wrap: wrap;
    background-color: black;
 }

 .foo-con{
    padding: 70px;
 }


.fot-bd {
    margin-top: -10px;
    padding-bottom: 10px;
    background-color: black ;
 }

}


@media all  and (max-width:768px) {

    nav{
        
        padding: 0;
        margin: 0;
    }

    .logo{
        width: 35%;
    }
    .nav-list{
        display: none;
        padding: 0;
        margin: 0;
    }

    .bgcolor{
       display: none;
       width: 50%;
    }

.header{
    padding-top: 3%;
    padding: auto;
}

    .header h1{
        font-size: 50px;
    }

    .header p{
        padding-top: 60px;
        font-size: 15px;
    }

 
    .home2{
        height: 80vh;
    }
    .hm-flex{
        gap: 20px;

    }

    .hm-left-clo{
        margin: 0 auto;
        width: 100%;
        font-size:25px ;
    }

    .hm-right-clo{
      width: 100%;
      margin: 0 auto;
      font-size: 15px;
      
    }

    .hm-service{
        margin-top: -100px;
        height: 100%;
        margin-bottom: 90px;
    }
    .srv-box p{
      font-size: 15px;
    }

 
    .hm-pro{
        height: 100%;

    }



.hm-pro-left{
    height: 80vh;
    margin: 0 auto ;
}

.pro-box{
    font-size:15px ;
}

.hm-pro-right img{
    display: none;
}


 .hm-pro2-box{
    flex-direction: column;
 }

 .hm-pro1-left img{
    width: 100%;
 }

 .hm-pro2-right{
    width: 100%;
    padding: 80px;
    padding-bottom: 40px;
    height: 100vh;
 }

  .hm-pro2-right h1{
    font-size: 29px;
    width: 60%;
  }

 .hm-pro2-right p{
    width: 60%;
    font-size: 15px;
 }

.hm-sit{
height: 100dvh;
margin-top: 45%;
margin-bottom: 10%;

}
 .hm-sit-box {
 
    flex-wrap: wrap;
    margin-left: 2rem;
    gap: 30px;
 }

 .hm-sit-det{
   
    width: 30%;
}

 .hm-dig{
    height: 80dvh;
 }



.hm-digi-box{
    padding-top: 10%;
   
}
 .hm-digi-box h1{
    font-size: 40px;
 }



 .footer-box{
    padding: 0;
    column-gap:80px ;
    flex-wrap: wrap;
    background-color: black;
 }

 .foo-con{
    padding: 70px;
 }


.fot-bd {
    margin-top: -10px;
    padding-bottom: 10px;
    background-color: black ;
 }

}